.hamburguesa{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/img/fondo\ menu.jpeg);
    background-position: 100%;
    background-size: cover;
    background-repeat:none;
    z-index: 1000;
    
}

.hamburguesa img {
  width: 200px;
  height: 150px;

}
.hamburguesa svg {
  position: absolute;
  left: 20px;  
  top: 35%;
}

#panelHamburguesa {
    height: 100vh;
    width: auto;
    position: fixed;
    top: 0vh;
    left: -1000px;
    transition: left .6s ease;
    background: rgb(0, 0, 0)  url(/img/VADER.png) no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: 1001;
    
}
#panelHamburguesa:target{
    left: 0;
    
}

#panelHamburguesa a{
    text-decoration: none;
}

#panelHamburguesa h2{
    align-items: center;
    text-align: center;
    color: white;
    font-size: medium;
    padding: 20px 0;
    margin: 20px 50px;
    margin-top: 30px;
    border: dotted;
    
}
#panelHamburguesa img{
    text-align: center;
    color: white;
    font-size: x-large;
    padding-bottom: 10%;
    padding-left: 10%;

}
