.redes {
    display: flex;
}
.redes img {
    width: 150PX;
    padding: 70px;
}

@media (max-width: 1400px){
    .redes{
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    
}