*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {

background-image: url(/img/istockphoto-1354982067-612x612.jpg);
min-width: 300px;
flex-wrap: wrap;
margin-bottom: 50px;
}

head {
  position: relative;
  height: 100px; 
}


@font-face {
  font-family:'Starjedi' ;
  src: url(/fuente/Starjedi.ttf);
  font-weight: initial;
  font-style: initial;
} 

h1{
  color: white;
  text-align: center;
  font-family: 'Starjedi' ;
  font-weight: initial;
  text-decoration: underline;
  
}

h2{
  color: white;
  text-align: left;
  font-family: 'Starjedi' ;
  font-weight: initial;
  margin: 35px;
}

h5{
  color: white;
  font-family: 'Starjedi' ;
  font-weight: initial;
}


p{
    color: white;
    font-family: 'Starjedi';
    text-align: justify; 
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    width: 90%;

}

img {
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
  min-width: 300px;
}





.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  max-height: 100%;
  max-width: 300px;
  margin-top: 50px;
}


.itemfot {
    text-align: center;
    
  }

  .itemfot img {
    border-radius: 15px;
    width: 500px;
    height: 275px;
  }
  

.reparto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    padding: 20px;
    text-align: center;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    
  }
  .reparto img {
    border-radius: 20px;
    width: 250px;
    height: 300px;
  }

  .reparto p{
      color: black;
      background-color: white;
      text-align: center;
      text-align: inherit;
      font-family: 'Starjedi';
      font-weight: normal;
      border-radius: 15px;
      padding: 50px;
      margin: 50px;
      margin-bottom: auto;


  }

 .item {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .item p{
  max-width: 260px;
 }

  .premios{
    text-align: center;
  }
  .premios img {
    border-radius: 20px;
    width: 500px;
    height: 275px;
  }
  .premios li {
    font-family: 'Starjedi';
    font-weight: normal;
    color: white;
    margin: 50px;
    text-align: justify;
  }
  .premios iframe {
    width: 600px;
    height: 100%;
  }

  .nueva {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 170px;
  }

.alinear {
  justify-content: center;
  
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}


main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  
}

.texto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
 } 
  
  .titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
  }
 
.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.alinear2 img {
  justify-content: center;
  width: 450px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
}


/* MEDIA QUERIES INICIO */

@media screen and (max-width: 1000px){
  .contenedor {
    flex-direction: column;
    align-items: center;
  }
 
}

@media (min-width: 150px) and (max-width: 750px) {
   .video  video{
     max-width: 500px;

  }
}


/* MEDIA QUERIES REPARTO */


@media screen and (max-width: 1370px) {
  .reparto{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 690px) {
  .item {
    flex-direction: column;
  }
}