body {
background-image: url(/img/istockphoto-1354982067-612x612.jpg);
padding-top: 150px;
min-width: 300px;
flex-wrap: wrap;
}

head {
  position: relative;
  height: 100px; 
}


@font-face {
  font-family:'Starjedi' ;
  src: url(/fuente/Starjedi.ttf);
  font-weight: initial;
  font-style: initial;
} 

h1{
  color: white;
  text-align: center;
  font-family: 'Starjedi' ;
  font-weight: initial;
  text-decoration: underline;
}

h2{
  color: white;
  text-align: left;
  font-family: 'Starjedi' ;
  font-weight: initial;
  margin: 35px;
}

h5{
  color: white;
  font-family: 'Starjedi' ;
  font-weight: initial;
}


p{
    color: white;
    font-family: 'Starjedi';
    text-align: justify; 
    margin-left: 40px;
    margin-right: 40px;
    width: 90%;
}

img {
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
  min-width: 300px;
}





.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  min-width: 300px;
}


.itemfot {
    text-align: center;
    
  }

  .itemfot img {
    border-radius: 15px;
    width: 500px;
    height: 275px;
  }
  .itemfot h6 {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  

  .reparto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;


  }
  .reparto img {
    border-radius: 20px;
    width: 250px;
    height: 300px;
  }

  .reparto p{
      color: black;
      background-color: white;
      text-align: center;
      text-align: inherit;
      font-family: 'Starjedi';
      font-weight: normal;
      border-radius: 15px;
      padding: 50px;
      margin: 50px;
      margin-bottom: auto;


  }

 

  .premios{
    text-align: center;
  }
  .premios img {
    border-radius: 20px;
    width: 500px;
    height: 275px;
  }
  .premios li {
    font-family: 'Starjedi';
    font-weight: normal;
    color: white;
    margin: 50px;
    text-align: justify;
  }
  .premios iframe {
    width: 600px;
    height: 100%;
  }

  .nueva {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
  }




  
  
  
 



